@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heading: 'Bricolage Grotesque', sans-serif;
  --font-body: 'Raleway', sans-serif;
}

@layer base {
  body, p, a, span, div {
    font-family: var(--font-body);
    font-weight: 400;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: 700;
  }
}
